<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" type="text/css" href="D:\Portfolio\static\styles.css">
    </head>
    <body class="body-bg">
            <h1>Harshan B</h1>
            <p>Engineering Undergrad &nbsp;||&nbsp; AI & ML Student &nbsp;||&nbsp; Coding Enthusiast</p>


        <section>
            <h2>About Me</h2>
            <p>
                Passionate AIML student, open to learning new technologies and tools to expand my knowledge in the domain of AI. Very much interested in expanding my coding skills to understand and solve various problems.
            </p>
        </section>

       

        <div class="buttons">
            <a href="D:\Portfolio\templates\projects.html" target="_blank"><button class="button">View My Projects</button></a>
            <a href="D:\Portfolio\templates\resume.html" target="_blank"><button class="button2">View My Resume</button></a>
        </div>
    </body>
</html>
