<html>
    <head>
        <title>
            my-projects
        </title>
        <link rel="stylesheet" type="text/css" href="D:\Portfolio\static\styles.css"
    </head>
    <body class="body-bg">
        <section>
            <h2 class="main-title">MY PROJECTS</h2>
            <p class="project-tagline">
                All of my current projects completed/ongoing till now(2025).
            </p>
        </section>

        <section>
            <h2>List Of Projects</h2>
            <ol>
                <li><h3>Portfolio Site</h3></li>
                <p>
                    A simple portfolio site designed using basic Html and css.
                </p>
                <ul>
                    <li>Designed with HTML and css</li>
                    <li>Showcases the general intro about my profile</li>
                    <li>showcases a list of my projects</li>
                    <li>attached my resume</li>
                </ul>
                <li><h3>Attendance Management System</h3></li>
                <p>
                    A management system that keeps track of the attendance and lets teachers mark attendance and students view theirs.
                </p>
                <ul>
                    <li>Used MYSQL database,Html,Css,Flask to create the webpage where the attendance can be marked</li>
                    <li>Teachers can login and mark their respective subject attendance</li>
                    <li>Provided a dashboard for teacher to view and mark attendance</li>
                    <li>Students can search their names and view their attendances</li>
                </ul>
            </ol>
        </section>
        
    </body>
</html>